
.App {
  text-align: justify;
  font-family: "Avenir";
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies_movie {

  display: flex;
  height: 10%;


}

.movie_genres {
  font-size: 10pt;
  color: gray;
}
h3 {
  font-size: 15pt;
  padding: 0px;
}
p {
  font-size: 10pt;
}
img {
  position: relative;
  display: flex;
  height: 200px;
  padding: 5%;
  padding-right: 0;
}
.movies {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}
.movies_movie {
  width: 45%;
  background-color: white;
  margin: 20px;
}

.movie_year {
  color: rgb(37, 37, 37);
}
.movie_data {
  padding: 3%;
}